In [1]:
import pandas as pd

# Load Datasets

In [6]:
games = pd.read_csv("games.csv")
clubs = pd.read_csv("clubs.csv")
players = pd.read_csv("players.csv")
player_valuations = pd.read_csv("player_valuations.csv")

# Inspect the first 5 rows of each dataset
games.head()
# clubs.head()
# players.head()
# player_valuations.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222597,RU1,2012,6. Matchday,2012-08-25,3725,232,2,1,2.0,...,Akhmat-Arena,21700.0,Vladislav Bezborodov,https://www.transfermarkt.co.uk/terek-grozny_s...,NaN,NaN,Akhmat Grozny,Spartak Moscow,2:1,domestic_league
1,2222627,RU1,2012,5. Matchday,2012-08-20,2696,4128,0,2,11.0,...,Metallurg,11400.0,Sergey Ivanov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,Krylya Sovetov Samara,Amkar Perm,0:2,domestic_league
2,2222658,RU1,2012,10. Matchday,2012-09-30,2410,121,0,2,2.0,...,Arena Khimki,12000.0,Sergey Karasev,https://www.transfermarkt.co.uk/cska-moscow_di...,NaN,NaN,CSKA Moscow,Dynamo Moscow,0:2,domestic_league
3,2222664,RU1,2012,8. Matchday,2012-09-15,932,2698,1,0,5.0,...,RZD Arena,11408.0,Sergey Karasev,https://www.transfermarkt.co.uk/lokomotiv-mosc...,NaN,NaN,Lokomotiv Moscow,Rubin Kazan,1:0,domestic_league
4,2222683,RU1,2012,12. Matchday,2012-10-22,2696,12438,0,1,11.0,...,Metallurg,7534.0,Timur Arslanbekov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,Krylya Sovetov Samara,Volga Nizhniy Novgorod (- 2016),0:1,domestic_league

# Inner Merge and Filtering

In [7]:
# Chained Method Version:
games_clubs = (
    pd.merge(left = games, right = clubs, left_on = "home_club_id", right_on = "club_id", how = "inner", suffixes = ('_games', '_clubs'))
    .query("season == 2023 & competition_id == 'GB1' & round == '2. Matchday' & game_id == 4087941")
    .merge(players, left_on = "home_club_id", right_on = "current_club_id", how = "inner", suffixes = ('_games_clubs', '_players'))
    .query("last_season_players == 2023")
)

games_clubs.head()


# # Non-Chained Method Version:
# # Merging `games` and `clubs` dataframes
# games_clubs = pd.merge(left = games, 
#                           right = clubs, 
#                           left_on = "home_club_id", 
#                           right_on = "club_id", 
#                           how = "inner", 
#                           suffixes = ('_games', '_clubs'))

# # Filtering for specific conditions
# games_clubs = games_clubs.query("season == 2023 & competition_id == 'GB1' & round == '2. Matchday' & game_id == 4087941")

# # Merging with the `players` dataframe
# games_clubs_players = pd.merge(games_clubs, 
#                                   players, 
#                                   left_on = "home_club_id", 
#                                   right_on = "current_club_id", 
#                                   how = "inner", 
#                                   suffixes = ('_games_clubs', '_players'))

# # Final filter
# games_clubs_players = games_clubs_players.query("last_season_players == 2023")

# games_clubs_players.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
1,4087941,GB1,2023,2. Matchday,2023-08-19,148,985,2,0,5.0,...,left,186.0,50000000.0,55000000.0,2028-06-30 00:00:00,World Soccer Agency,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dejan-kulusevs...,GB1,Tottenham Hotspur
2,4087941,GB1,2023,2. Matchday,2023-08-19,148,985,2,0,5.0,...,left,188.0,38000000.0,38000000.0,2027-06-30 00:00:00,Football Service,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/destiny-udogie...,GB1,Tottenham Hotspur
3,4087941,GB1,2023,2. Matchday,2023-08-19,148,985,2,0,5.0,...,right,192.0,2000000.0,3000000.0,2028-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/ashley-phillip...,GB1,Tottenham Hotspur
8,4087941,GB1,2023,2. Matchday,2023-08-19,148,985,2,0,5.0,...,right,185.0,32000000.0,45000000.0,2025-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/pierre-emile-h...,GB1,Tottenham Hotspur
10,4087941,GB1,2023,2. Matchday,2023-08-19,148,985,2,0,5.0,...,right,187.0,40000000.0,50000000.0,2026-06-30 00:00:00,Back Sports S.A.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/rodrigo-bentan...,GB1,Tottenham Hotspur

# Left Merge and Comparison to an Inner Merge

In [8]:
# Selecting relevant columns and filtering the 'players' dataframe for the 2023 season.
players_select = players[['player_id', 'name', 'last_season', 'current_club_id']]
players_select = players_select[players_select['last_season'] == 2023]

# Creating a subset of 'clubs' and selecting specific columns for demonstration purposes.
clubs_subset = clubs.sample(frac=0.7)
clubs_subset = clubs_subset[['club_id', 'name', 'domestic_competition_id', 'squad_size', 'average_age', 'national_team_players']]

# Performing a left join to include all records from 'players_select', even if there's no matching 'club_id' in 'clubs_subset'.
players_clubs = pd.merge(left = players_select, right = clubs_subset, left_on = "current_club_id", right_on = "club_id", how = "left", suffixes=('_player', '_club'))

In [9]:
# Identifying rows where club details are missing due to the nature of the left join.
players_clubs_na_left = players_clubs[players_clubs['name_club'].isna()]

players_clubs_na_left.head()

,player_id,name_player,last_season,current_club_id,club_id,name_club,domestic_competition_id,squad_size,average_age,national_team_players
1,30321,Óscar Trejo,2023,367,NaN,NaN,NaN,NaN,NaN,NaN
3,40204,Joe Hart,2023,371,NaN,NaN,NaN,NaN,NaN,NaN
6,44062,Antonio Adán,2023,336,NaN,NaN,NaN,NaN,NaN,NaN
8,45320,Ángel Di María,2023,294,NaN,NaN,NaN,NaN,NaN,NaN
10,54846,Fabian Holland,2023,105,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# For comparison, performing an inner join, which only includes matching records.
players_clubs_inner = pd.merge(left = players_select, right = clubs_subset, left_on = "current_club_id", right_on = "club_id", how = "inner", suffixes=('_player', '_club'))

# Checking for missing club details in the inner join result.
players_clubs_na_inner = players_clubs_inner[players_clubs_inner['name_club'].isna()]

players_clubs_na_inner.head()

Empty DataFrame
Columns: [player_id, name_player, last_season, current_club_id, club_id, name_club, domestic_competition_id, squad_size, average_age, national_team_players]
Index: []

# Outer merge

In [11]:
# Selecting relevant columns and filtering the 'players' dataframe for the 2023 season.
players_select = players[players['last_season'] == 2023][['player_id', 'name', 'height_in_cm']]

# Creating a subset of 'player_valuations', selecting the first entry for each player.
player_valuations_subset = player_valuations[player_valuations['last_season'] == 2023]
player_valuations_subset = player_valuations_subset.groupby('player_id').first().reset_index()
player_valuations_subset = player_valuations_subset[['player_id', 'market_value_in_eur']]

# Reducing the 'player_valuations_subset' to simulate missing data.
player_valuations_subset = player_valuations_subset.sample(frac=0.7)

# Performing a full join to merge all data from 'players_select' and 'player_valuations_subset'.
players_and_valuation = pd.merge(left = players_select, right = player_valuations_subset, left_on = "player_id", right_on = "player_id", how = "outer")

# Filtering to show rows with missing values, indicating unmatched data in the join.
players_and_valuation_na = players_and_valuation[players_and_valuation.isna().any(axis=1)]

players_and_valuation_na

      player_id               name  height_in_cm  market_value_in_eur
0         22860      Jesper Hansen         188.0                  NaN
5         43858      Adam Legzdins         190.0                  NaN
7         45314     Federico Fazio         195.0                  NaN
11        55769  Danilo D'Ambrosio         180.0                  NaN
21        70359        David Simão         183.0                  NaN
...         ...                ...           ...                  ...
6556     395485                NaN           NaN              50000.0
6557     134458                NaN           NaN             200000.0
6558     855158                NaN           NaN             300000.0
6559     866609                NaN           NaN             100000.0
6560     440953                NaN           NaN            1500000.0

[2223 rows x 4 columns]

# Data concatenation

In [12]:
# Define a function for dataframe subsetting
def subset_games(df, season, competition_id, matchday):
    mask = (df['season'] == season) & (df['competition_id'] == competition_id) & (df['round'] == matchday)
    return df[mask][['competition_id', 'season', 'round', 'date', 'home_club_name', 'away_club_name', 'attendance']]

# Apply function to subset data for 2022 and 2023
games_EPL2022 = subset_games(games, 2022, 'GB1', '1. Matchday')
games_EPL2023 = subset_games(games, 2023, 'GB1', '1. Matchday')

# Concatenate the data
matchday1_attendance = pd.concat([games_EPL2022, games_EPL2023])

# Randomly select 6 rows from the concatenated dataframe
random_rows = matchday1_attendance.sample(n=6)

# Display the randomly selected rows
random_rows

,competition_id,season,round,date,home_club_name,away_club_name,attendance
2653,GB1,2022,1. Matchday,2022-08-06,Everton FC,Chelsea FC,39254.0
54891,GB1,2023,1. Matchday,2023-08-12,Arsenal FC,Nottingham Forest,59984.0
39007,GB1,2023,1. Matchday,2023-08-11,Burnley FC,Manchester City,21572.0
18286,GB1,2022,1. Matchday,2022-08-06,Tottenham Hotspur,Southampton FC,61732.0
62648,GB1,2023,1. Matchday,2023-08-12,Everton FC,Fulham FC,39940.0
62888,GB1,2023,1. Matchday,2023-08-12,Brighton & Hove Albion,Luton Town,31872.0